.projects{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.card-project{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;
    overflow: hidden;
    height: 500px;
}
.card-top > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 25px;
}
.slick-prev:before, 
.slick-next:before{
    background-color: blue;
    border-radius: 15px;
}
.slick-slide > div {
    margin: 0 18px;
  }
  .slick-list {
    margin: 0 -18px;
  }

  .image-content{
    position: relative;
}
.overlay{
    background-color: #4070F4;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 25px 25px 0 25px;
    z-index: -2;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    background-color: #4070F4;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: -40px;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-bottom{
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 10px;
}
.projeact-button{
    text-decoration: none;
    background-color: #4070F4;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}