.servic-cards{
    gap: 40px;
}
.servic-card{
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Servics-image{
    width: 120px;
}
.servics-titel{
    margin-top: 120px;
    margin-bottom: 3rem;
    font-weight: 600;
    color: #4070F5;
}