.summary-conten{
    margin-top: 10rem;
    color: #fff;
}
.summary-banner{
    background-image: url(../../images/banner_image.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.summary-conten h2{
    font-size: 50px;
}
.summary-conten h4{
    font-weight: 700;
}
.summary-banner-overlay{
    position: absolute;
    min-height: 400px;
    width: 100%;
    background: rgba(2, 14, 74, 0.5);
}