@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
}

/* body {
	background-color: #f4f4f4;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
} */
.sikills{
    margin-top: 120px;
	color: #fff;
}
.sikill{
	background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    color: transparent;
}
.font-awesome{
	color: #cf0920;
}
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 10px 0;
	height: 15px;
	width: 100%;
}

.progress-done {
	background: linear-gradient(to left, #7566fb, #65a5fa);
	box-shadow: 0 3px 3px -5px #7274fe, 0 2px 5px #70baff;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
