.footer{
    margin-top: 120px;
    background-color: #4070F5;
    padding: 100px;
}
.footer-content{
    width: 50%;
}
.footer-content a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}